html {
    height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
}

.flex-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.info {
    color: #615b6b;
    opacity: 1;
    text-align: center;
    transition: opacity 2s ease-in-out;
}

.character {
    color: #03a9f4;
    font-size: 20vh;
    text-align: center;
    user-select: none;
}

.word {
    color: #ff9800;
    font-size: 50px;
    text-align: center;
    user-select: none;
}

.word::first-letter {
    font-weight: bold;
}

.successfully-used {
    opacity: 0;
}
